<a href="https://colab.research.google.com/github/TheAzouz/Project_ADA/blob/main/SVM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from google.colab import drive
drive.mount ('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
cd "drive/My Drive/Colab Notebooks/ADA_rami"

/content/drive/My Drive/Colab Notebooks/ADA_rami

In [6]:
import csv
import pandas as pd

In [7]:
ls

training_test_set_anonymized.csv

In [8]:
df=pd.read_csv("training_test_set_anonymized.csv",sep=',')
df.head()

   Unnamed: 0  checkin_ratio  ...  reverse_page_rank  user_id
0           0       0.086957  ...           0.114258        1
1           1       0.043478  ...           0.061761        1
2           2       0.434783  ...           0.245317        1
3           3       0.086957  ...           0.111886        1
4           4       0.130435  ...           0.176912        1

[5 rows x 13 columns]

In [9]:
trial=df.groupby('user_id').agg({'daily_total_checkin_rate':'std'})
trial.head()

         daily_total_checkin_rate
user_id
1                             0.0
2                             0.0
3                             0.0
4                             0.0
5                             0.0

In [10]:
df_tmp=df[['checkin_ratio','end_of_day_ratio','end_of_inactive_day_ratio','midnight_ratio','kilometer_distance_to_most_checked_in','page_rank','reverse_page_rank','is_home']]
df_tmp.head()

   checkin_ratio  end_of_day_ratio  ...  reverse_page_rank  is_home
0       0.086957          0.000000  ...           0.114258    False
1       0.043478          0.000000  ...           0.061761    False
2       0.434783          0.666667  ...           0.245317     True
3       0.086957          0.000000  ...           0.111886    False
4       0.130435          0.000000  ...           0.176912    False

[5 rows x 8 columns]

In [11]:
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split

In [12]:
X=df_tmp[['checkin_ratio','end_of_day_ratio','end_of_inactive_day_ratio','midnight_ratio',\
      'kilometer_distance_to_most_checked_in','page_rank','reverse_page_rank']].values
Y=df_tmp['is_home'].values

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [13]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import f1_score,precision_score,recall_score

In [14]:
clf = make_pipeline(StandardScaler(), SVC(kernel='poly',degree=3))
clf.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('standardscaler',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('svc',
                 SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None,
                     coef0=0.0, decision_function_shape='ovr', degree=3,
                     gamma='scale', kernel='poly', max_iter=-1,
                     probability=False, random_state=None, shrinking=True,
                     tol=0.001, verbose=False))],
         verbose=False)

In [15]:
y_pred=clf.predict(X_test)

In [16]:
f1_score(y_test,y_pred)

0.7904761904761904

In [17]:
precision_score(y_test,y_pred)

0.8736842105263158

In [18]:
recall_score(y_test,y_pred)

0.7217391304347827